---
import Hamburguesa from '../components/Hamburguesa.astro';
interface Props {
  enlace: [string, string][];
  titulo:string;
}
const { enlace, titulo } = Astro.props;

---

<div class="header">
  <h1>{titulo}</h1>
  <Hamburguesa />
  <nav class="nav-links">
    {enlace.map(([path, label]) => (
      <a href={`/${path}/`}>{label}</a>
    ))}
  </nav>
</div>

<style>
  /* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

 
</style>
<!-- {rs.map(item =>(
    <li><a href={`https://www.${item[0]}.com/${item[1]}`}>{item[0]}</a></li>
    ))} --> <!-- <a href="/About/">About </a>
          <a href="/posts/post01/">1st Post..</a>
          <a href="/posts/post02/">2nd Post..</a> -->